.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-box {
    position: absolute;
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 100;
    font-size: 14px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .tooltip-box::after {
    content: "";
    position: absolute;
    border-style: solid;
  }
  
  .tooltip-box.top::after {
    border-width: 5px 5px 0 5px;
    border-color: #333 transparent transparent transparent;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tooltip-box.top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
  }
  
  .tooltip-box.bottom::after {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #333 transparent;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tooltip-box.bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
  }
  
  .tooltip-box.left::after {
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #333;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .tooltip-box.left {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
  }
  
  .tooltip-box.right::after {
    border-width: 5px 5px 5px 0;
    border-color: transparent #333 transparent transparent;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .tooltip-box.right {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
  }
  